/*global optionsto select font type with with fall back options*/
* {
    font-family: Helvetica, Arial, sans-serif;
}

/*Stlying for the food images in the menu*/
.foodImage {
    height: 75px;
    width: 100px;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
}

/*class for text slideshow on the homepage https://www.w3schools.com/w3css/w3css_slideshow.asp*/
.myTestimonials {
    display:none;
    width:100%;
}

/*class for image slideshow on the homepage https://www.w3schools.com/w3css/w3css_slideshow.asp*/
.mainImages {
    display:none;
    width:100%;
}


